body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e8e8e8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* New Css */


button.btn.btn-primary {
    background: #A42502 !important;
    border-color: #A42502 !important;
    font-weight: 700;
}
h2,h3,h5{
  font-size: 1.75rem;
  font-weight: 700 !important;
}
thead.table-light tr th {
    background: #FFE0B7 !important;
    border-color: #FFE0B7 !important;
}
.table-striped>tbody>tr:nth-of-type(odd)>* {
    background: #ffffff !important;
    --bs-table-bg-type: rgb(255 255 255);
        border-color: #FFDCB0;
}
.table-striped>tbody>tr:nth-of-type(even)>* {
    background: #FFF6EB !important;
    --bs-table-bg-type: #FFF6EB;
        border-color: #FFDCB0;
}
.table-bordered>:not(caption)>*>* {
    border-width: 1px var(--bs-border-width);
}
.table-bordered>:not(caption)>*>* a.text-decoration-none {
    color: #000;
    font-weight: 500;
}
.d-flex.justify-content-center.gap-2 a.text-decoration-none .member-card.d-flex.align-items-center.p-2{
     background:   #C0EDFF !important;
    color: #000 !important;
    font-weight: 400 !important;
    border-color: #C0EDFF !important;
}
.d-flex.justify-content-center.gap-2 a.text-decoration-none:last-child .member-card.d-flex.align-items-center.p-2 {
    background: #FFC2E1 !important;
    color: #000 !important;
    font-weight: 400 !important;
      border-color: #FFC2E1 !important;
}

.member-card{
     background:   #C0EDFF !important;
    color: #000 !important;
    font-weight: 400 !important;
    border-color: #C0EDFF !important;
}
a.text-decoration-none:last-child .member-card{
    background: #FFC2E1 !important;
    color: #000 !important;
    font-weight: 400 !important;
      border-color: #FFC2E1 !important;
}


ul.nav.nav-tabs {
    border: none;
}
ul.nav.nav-tabs button {
    background: #A42502;
    border: 1px solid #A42502;
    margin-right: 10px;
    border-radius: 6px;
    color: #fff;
    font-weight: 600;
}

ul.nav.nav-tabs button.active {
    background: #e8e8e8;
    border-color: #E8E8E8;
    color: #000;
}

.tab-content .card-title.h5 {
    font-size: 18px;
    font-weight: 700;
}
.tab-content  .text-muted.card-subtitle.h6{
color: #A42502 !important;
font-weight: 600;
font-size: 14px;
}
.tab-content .shadow-sm.event-card.card {
    background: #fff !important;
    border: none !important;
}
.tab-content .card-img-top{
  border: none !important;
}
.pagination li.page-item {
    margin: 0 5px;
}
.pagination li.page-item a.page-link,.pagination li.page-item span.page-link{
  border-radius: 0;
}
.pagination li.page-item a.page-link,.pagination li.page-item.disabled span.page-link{
  background: #A42502;
  color: #fff;
  font-weight: 600;
}
.pagination li.page-item.active span.page-link{
  background: #E8E8E8;
  color: #000;
  border-color: #E8E8E8;
    font-weight: 600;
}

table.min-w-full.table-auto.border.w-100 thead tr th {
    background: #FFE0B7;
    border-color: #FFE0B7 !important;
}


table.min-w-full.table-auto.border.w-100 tbody tr:nth-child(even) td {
  background: #FFF6EB;
  border-color: #FFE0B7 !important;
}
table.min-w-full.table-auto.border.w-100 tbody tr:nth-child(odd) td {
  background: #FFF;
    border-color: #FFE0B7 !important;
}