/* Show dropdown on hover */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

/* Optional: Ensure smooth behavior */
.dropdown-menu {
  transition: all 0.3s ease;
}

/* Make navbar link text darker */
.navbar-dark .navbar-nav .nav-link {
    color: #A42502;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 5px;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffffff; /* Pure white on hover */
  background: #A42502;
}
