/* Show dropdown on hover */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

/* Optional: Ensure smooth behavior */
.dropdown-menu {
  transition: all 0.3s ease;
}

/* Make navbar link text darker */
.navbar-dark .navbar-nav .nav-link {
    color: #A42502;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 5px;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffffff; /* Pure white on hover */
  background: #A42502;
}


/* New CSS */

/* Base header style */
.header {
  transition: all 0.3s ease-in-out;
}

/* When scrolled */
/* .header-scrolled {
} */

/* Logo resize */
.logo {
  transition: all 0.3s ease-in-out;
}
.logo-small {
  height: 60px;
}

/* Avatar resize */
.user-avatar {
  width: 25px;
  height: 25px;
  transition: all 0.3s ease-in-out;
}
.avatar-small {
  width: 20px;
  height: 20px;
}
